<nav
  class="navbar navbar-expand-lg navbar-light bg-light flex-column justify-content-between py-32"
>
  <div class="container-fluid p-0 flex-column align-items-start">
    <a class="navbar-brand pl-32 pb-32 pt-0" href="index.html">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/logo-ANSWER.svg"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link d-flex align-items-center"
            aria-current="page"
            href="#"
            ><span class="material-icons mr-16"> assessment </span>Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="#"
            ><span class="material-icons mr-16"> question_answer </span
            >Question</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="assignment.html"
            ><span class="material-icons mr-16"> assignment </span>Assignment</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="#"
            ><span class="material-icons mr-16"> video_library </span>Course</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center active" href="index.html"
            ><span class="material-icons mr-16"> people </span>Admin</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="#"
            ><span class="material-icons mr-16"> settings </span>Settings</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="user d-flex align-items-center pl-32">
    <div class="user-img mr-16">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/andychen.jpeg"
        alt=""
      />
    </div>
    <div class="user-infor">
      <p class="user-name mb-0">Andy Chen</p>
      <a href="mailto:andy0401@mail.com" class="user-email"
        >andy0401@mail.com</a
      >
    </div>
  </div>
</nav>
